<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.adrianweniger.sleepinspector">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- Activities -->
        <activity android:name=".activities.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.MorningEditActivity" />
        <activity android:name=".activities.EveningEditActivity" />



        <!-- Receivers -->
        <receiver android:name=".receivers.AlarmReceiver" />

        <activity android:name=".activities.RISEditActivity" />
        <activity
            android:name=".activities.PersonalInfoEditActivity"
            android:label="@string/title_activity_personal_info_edit_fragment"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.ArticleActivity"
            android:label="@string/title_activity_article"></activity>
    </application>

</manifest>